<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <title>{% block title %} Nutrition searcher {% endblock %}</title>
</head>

<body>

    {% block body %}
    <form action="/nutrition">
        <div class="input-group mb-3" style="max-width: 50%;">
            <input type="text" class="form-control" placeholder="Apple, flour, sugar" aria-label="ingredients"
                aria-describedby="button-addon2" name="ingredients">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
            </div>
        </div>
    </form>
    <h2><a href="/" style="text-decoration: none; color:red"> Home: </a></h2>
    <div class="container-fluid" style="display:flex;flex-wrap:wrap;">
        <div class="card" style="max-width:20rem;display:flex;flex:1;">
            <img class="card-img-top" src="{{nutrition['parsed'][0]['food']['image']}}"
                alt="{{nutrition['parsed'][0]['food']['label']}}">
            <div class="card-body">
                <h5 class="card-title">{{nutrition['parsed'][0]['food']['label']}}</h5>
                <p class="card-text">
                    Nutrients==><br>
                    Energy :{{nutrition['parsed'][0]['food']['nutrients']['ENERC_KCAL']}}<br>
                    Proteins :{{nutrition['parsed'][0]['food']['nutrients']['PROCNT']}}<br>
                    Fats :{{nutrition['parsed'][0]['food']['nutrients']['FAT']}}<br>
                    Carbs :{{nutrition['parsed'][0]['food']['nutrients']['CHOCDF']}}<br>
                    Fibers :{{nutrition['parsed'][0]['food']['nutrients']['FIBTG']}}<br>
                </p>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>