<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <title>{% block title %} Base page {% endblock %}</title>
</head>

<body>

    {% block body %}

    <h2 style="text-align: center"> <a href="/" style="text-decoration: none; color:red"> HOW TO COOK: </a></h2>
    <div style="margin-left:35%;">
        <ul class="list-unstyled">
            {% for recipe in recipes %}
            <li class="media">
                <img src="{{recipe['image']}}" class="align-self-center mr-3" alt="..." width="15%" height="15%">
                <div class="media-body">
                    <h5 class="mt-0 mb-1"><a href="{{recipe['sourceUrl']}}" target="_blank">{{ recipe['title'] }}</a>
                    </h5>
                    <p>Ready in {{recipe['readyInMinutes']}}<br>
                        Serves for {{recipe['servings']}}<br></p>
                    <a href="/recipie?sourceUrl={{recipe['sourceUrl']}}">how to cook</a><br>
                </div>
            </li> <br>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
</body>

</html>