<!doctype html>
<html lang="en">

<body>

    {% block title %} Recipes searcher {% endblock %}
    {% block body %}
    <center>
        <h2 style="padding-top: 3%;">
            It's time for cooking! What do you have in the fridge? <br>
            <small class="text-muted"> Let's warm up with a joke:</small>
        </h2>
        <br><br>
        <form action="/recipes">
            <div class="input-group mb-3" style="max-width: 50%;">
                <input type="text" class="form-control" placeholder="Apple, flour, sugar" aria-label="ingredients"
                    aria-describedby="button-addon2" name="ingredients">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                </div>
            </div>
        </form>
    </center>
    {% endblock %}
</body>

</html>